//biological-confirm
.biological-confirm {
  @include full-width;

  //fixed-sapce
  .fixed-sapce {
    margin-top: 283px;
  }

  //bio-confirm
  .bio-confirm{
    /*padding-top: 25px;

    @include custom-max(360){
      padding-top: 22px;
    }*/
    @include custom-max-height(612){
      padding: 11px 0px;
    }

    p.exam-det{
      margin-bottom: 44px;
      line-height: 1.1;

      @include custom-all(361, 415){
        margin-bottom: 40px;
      }
      @include custom-max(360){
        margin-bottom: 34px;
      }
      @include custom-max-height(612){
        margin-bottom: 24px;
      }
      @include custom-max-height(568) {
        margin-bottom: 40px;
      }
      @include custom-max-height(480) {
        margin-bottom: 24px;
      }
    }

    li{
      .img-block{
        margin-bottom: 0px;

        img {
          display: block;
          margin: 0 auto 15px;

          @include custom-all(361, 415){
            width: 60px;
            margin-bottom: 10px;
          }
          @include custom-max(360){
            width: 50px;
          }
          @include custom-max(320){
            width: 43px;
            margin: 0 auto 10px;
          }
        }

        img.right-confirm-icon{
          @include custom-max(360){
            width: 22px;
            top: -2px;
            right: -16px;
          }
          @include custom-all(361, 415){
            width: 22px;
            top: -2px;
            right: -16px;
          }

        }

        img.biological-pic-2{
          @include custom-max(360){
            top: -15px
          }
          @include custom-all(361, 415){
            top: -15px
          }
        }
      }

      /*a{
        font-size: 30px;
        margin-bottom: 88px;

        @include custom-max(360){
          font-size: 19px;
          margin-bottom: 44px;
        }
        @include custom-all(361, 415){
          font-size: 19px;
          margin-bottom: 44px;
        }
      }*/
    }
  }
}

//img-block
.img-block {
  position: relative;
  display: inline-block;
  margin: 0 auto;

  .right-confirm-icon {
    position: absolute;
    top: -2px;
    right: -23px;
    background: #fff;
    border-radius: 50px;
    @include custom-max(360) {
      top: -4px;
      right: -20px;
      width: 26px;
    }
    @include custom-all(361, 415){
      top: -4px;
      right: -20px;
      width: 26px;
    }
  }
}

