//examens-biologique
.biological-examinations {
  @include full-width;

  .fixed-sapce {
    margin-top: 283px;
  }
}

//examens-details
.bio-exam {
  @include custom-max(320) {
    padding: 14px 0px;
  }
  ul {
    p {
      margin-bottom: 36px;

      @include custom-all(361, 415) {
        margin-bottom: 50px;
      }
      @include custom-max(360) {
        margin-bottom: 24px;
      }
      @include custom-max(320) {
        margin-bottom: 40px;
        line-height: 1.1;
      }
    }
    li {
      margin-bottom: 0px;

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 30px;
        margin-bottom: 90px;

        @include custom-all(361, 415) {
          font-size: 22px;
          margin-bottom: 40px;
        }
        @include custom-max(360) {
          font-size: 19px;
          margin-bottom: 40px;
        }
        @include custom-max(320) {

          margin-bottom: 35px;
          font-size: 20px;
          padding-left: 12px;
        }
      }
    }
  }

}

.biological-popup-point .control {
  margin-bottom: 10px;
  padding-top: 0px;
  padding-left: 57px;
  font-size: 25px;
  @include custom-max(360) {
    margin-bottom: 24px;
    letter-spacing: 0.3px;
  }
  @include custom-max(320){
    letter-spacing: 0.3px;
    margin-bottom: 22px;
    padding-top: 2px;
    font-size: 22px;
  }

}

.biological-popup-point .all-section-content {
  @include custom-max(360) {
    padding: 8px 20px;
  }
}
.biological-popup-point {
  margin-bottom: -9px;
}
