// bonjour jean page scss
.user-jean {
  @include full-width;

  //fixed-sapce
  .fixed-sapce {
    margin-top: 513px;
  }
}

//top-header-fixed
.top-header-fixed {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

//fixed-sapce
.fixed-sapce {
  background: $white;
  float: left;
  width: 100%;

  @include custom-max(420) {
    margin-top: 418px;
  }
  @include mobile-xs-349 {
    margin-top: 378px;
  }
  @include mobile-xs {
    margin-top: 366px;
  }
}

//user-cover-gradient
.user-cover-gradient {
  @include full-width;
  background: url(../images/user-jean-bg1.png) no-repeat;
  background-size: cover;
  padding: 0px 16px 30px;

  @include custom-all(361, 415) {
    padding: 0px 16px 32px;
  }
  @include custom-max(360) {
    padding: 0px 16px 32px;
  }
  @include custom-max(320) {
    padding: 0px 16px 20px;
  }
}

//user-cover-gray
.user-cover-gray {
  @include full-width;
  background: #e7e9d9;
  padding-bottom: 22px;

  @include custom-max(360) {
    padding-bottom: 5px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -17px;
    height: 18px;
    width: 100%;
    background-image: url('#{$imageUrl}/gray-merci.png');
    @include bg-cover(100% 100%);
    background-repeat: no-repeat;
    background-position: top left;

    @include custom-max(320) {
      top: -15px;
    }
  }
}

//menu-icon-img
.menu-icon-img {
  padding-top: 30px;

  @include custom-max(360) {
    padding-top: 22px;
  }
  /*@include mb-noscroll-1010 {
    padding-top: 17px;
  }*/

  a {
    img {
      width: 43px;

      @include custom-max(360) {
        width: 34px;
      }
      @include custom-max(320) {
        width: 26px;
      }
      /*@include mb-noscroll-1010 {
        width: 22px;
      }*/

    }
  }
}

//this-item-no
.this-item-no {
  float: right;
  margin-right: 0px;
  //h2
  h2 {
    font-size: 35.81px;
    @include Calibri-light;
    color: $red;
    background: $yellow;
    @include border-radius(30px);
    text-align: center;
    padding: 5px;
    width: 48px;
    height: 48px;
    margin-top: 15px;
    @include custom-max(360) {
      width: 33px;
      height: 33px;
      margin: 15px 0px 0 0px;
      font-size: 20.81px;
    }
    @include custom-max(320) {
      width: 28px;
      height: 28px;
      font-size: 18px;
    }
  }
}

//user-heading
.user-heading {
  @include custom-max(435) {
    padding-bottom: 5px;
  }
  text-align: center;
  h3 {
    position: relative;
    font-size: 38px;
    color: $white;
    @include Calibri-light;
    margin: 12px 0px 7px 0px;
    letter-spacing: -1px;

    @include custom-max(435) {
      font-size: 33px;
    }
    @include custom-max(360) {
      font-size: 28px;
    }
    @include custom-max(320) {
      font-size: 22px;
    }
    /*@include mob-noscroll {
      line-height: 1.25;
      font-size: 20px;
      margin-top: 0px;
    }*/

    //span
    span {
      @include Calibri-normal;
    }

    //h3:after
    &:after {
      content: '';
      position: absolute;
      background: #aebccb;
      width: 25%;
      left: 0;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      @include mobile-sm {
        width: 20%;
      }
    }
    //h3:before
    &:before {
      content: '';
      position: absolute;
      background: #aebccb;
      width: 25%;
      right: 0;
      height: 1px;
      top: 50%;
      transform: translateY(-50%);
      @include mobile-sm {
        width: 20%;
      }
    }
  }

  //img
  img.user-png {
    display: block;
    margin: 0 auto;

    @include custom-max(360) {
      width: 42px;
    }
  }
}

//user-pre
.user-pre {
  width: 100%;
  max-width: 432px;
  margin: auto;
  p {
    font-size: 32px;
    color: $gray;
    text-align: center;
    padding: 18px 0px;
    line-height: 1.1;
    margin: 0;

    @include custom-all(361, 415) {
      font-size: 28px;
    }
    @include custom-max(360) {
      font-size: 24px;
    }
    @include custom-max-height(568) {
      font-size: 22px;
      padding: 10px 0px 17px;
      line-height: 1.15;
    }
    @include custom-max-height(480){
      font-size: 18px;
      padding: 10px 0px 17px;
      line-height: 1.15;
    }
  }
}

//ja-prendds-table
.ja-prendds-table {
  background: $white;
  @include full-width;
  padding: 82px 0px 30px;

  @include custom-all(361, 415) {
    padding: 40px 0px 40px;
  }
  @include custom-max(360) {
    padding: 35px 0px 35px;
  }
  @include custom-max(320) {
    padding: 20px 0px 10px;
  }

  //ul
  ul {
    padding: 0 47px;
    @include custom-all(361, 415) {
      padding: 0px 30px;
    }
    @include custom-max(360) {
      padding: 0px 30px;
    }
    @include custom-max(320) {
      padding: 0px 15px;
    }

    //li
    li {
      padding: 0;
      margin-bottom: 48px;

      @include custom-all(361,420) {
        margin: 0px 0px 30px;
      }
      @include custom-max(360) {
        margin: 0px 0px 25px;
      }
      @include custom-max-height(568) {
        margin: 0px 0px 30px;
      }
      @include custom-max-height(480) {
        margin: 0px 0px 22px;
      }


      &:last-child {
        margin-bottom: 0px;
      }

      //a
      a {
        font-size: 31px;
        color: $black;
        display: block;
        text-align: center;
        border: 1px solid #000;
        @include border-radius(50px);
        @include Calibri-bold;
        padding: 12px 0px;
        background: $white;
        @include transition(all 0.3s);

        &:hover {
          color: $white;
          background: $black;
        }

        @include custom-all(361, 415) {
          font-size: 25px;
          padding: 10px 0px;
        }
        @include custom-max(360) {
          font-size: 22px;
          padding: 8px 0px;
        }
        @include custom-max-height(568) {
          font-size: 22px;
          padding: 5px 0px;
        }
        @include custom-max-height(480) {
          font-size: 18px;
          padding: 5px 0px;
        }
      }
    }
  }
}

//second-psd-slice




