// charte-bg
.charte-bg {
  @include full-width;
  background-image: url('#{$imageUrl}/user-jean-bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100%;
  text-align: left;
  padding: 0 26px;
  padding-bottom: 100px;
  @include mobile-xs-359 {
    padding: 0px 15px 100px;
  }
}

//charte-commom-text
.charte-commom-text {
  padding-top: 22px;
  h2 {
    font-size: 53px;
    color: $white;
    @include Calibri-bold;
    @include mobile-sm {
      font-size: 34px;
    }
    @include mobile-xs-359 {
      font-size: 36px;
    }
    @include mobile-xs-349 {
      font-size: 34px;
    }
    @include mobile-xs {
      font-size: 32px;
    }
  }
  p {
    font-size: 37px;
    color: #fff;
    padding-top: 22px;
    line-height: 1.2;
    letter-spacing: -0.4px;
    @include Calibri-normal;
    @include mobile-sm {
      font-size: 35px;
    }
    @include mobile-xs-359 {
      font-size: 34px;
    }
    @include mobile-xs-349 {
      font-size: 26px;
    }
    @include mobile-xs {
      font-size: 23px;
    }
  }
  //quisque
  .quisque {
    margin-top: 24px;
    p {
      font-size: 30px;
      @include Calibri-light;
      line-height: 1.5;
      @include mobile-sm {
        font-size: 27px;
      }
      @include mobile-xs-359 {
        font-size: 24px;
      }
      @include mobile-xs-349 {
        font-size: 22px;
      }
      @include mobile-xs {
        font-size: 19px;
      }
    }
  }

}

//check-box
.check-box {
  margin-top: 54px;
  margin-left: 0px;
}

.charte-box {
  display: block;
  margin-bottom: 15px;
  padding-left: 0px;
}

//charte-box
.charte-box input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.charte-box label {
  position: relative;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  @include Calibri-light;
  padding-left: 47px;
  @include mobile-sm {
    font-size: 25px;
  }
  @include mobile-xs-359 {
    font-size: 22px;
  }
  @include mobile-xs-349 {
    font-size: 19px;
    padding-left: 38px;
  }
  @include mobile-xs {
    font-size: 16px;
  }
}

.charte-box label:before {
  content: '';
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 14px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 0;
  @include mobile-sm {
  }
  @include mobile-xs-359 {
    padding: 11px;

  }
  @include mobile-xs-349 {
    padding: 11px;

  }
  @include mobile-xs {
  }
}

.charte-box input:checked + label:after {
  content: '';
  display: block;
  width: 10px;
  height: 18px;
  border: solid #4829a6;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 8px;
  left: 9px;
  @include mobile-xs-349 {
    top: 6px;
    left: 7px;
    width: 8px;
    height: 16px;
  }
  @include mobile-xs-359 {
    top: 6px;
    left: 7px;
    width: 8px;
    height: 16px;
  }
}

//footer-section-btn
.footer-section-btn {
  @include full-width;
}

//bottom-valider
input, button{
  outline: none;
}
.bottom-valider {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 10px 40px;
  text-align: right;
  outline: none;

  @include custom-max(360) {
    padding: 0px 0px;
  }
  @include custom-all(361, 415) {
    padding: 0px 0px;
  }
  @include custom-max(320) {
    padding: 0px 0;
  }
  //img
  img{
    @include custom-all(361, 415) {
      height: 16px;
    }
    @include custom-max(360) {
      height: 14px;
    }

  }
  //span
  span {
    font-size: 36px;
    @include Calibri-normal;
    color: rgba(0, 0, 0, 0.79);
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;

    @include custom-max(360) {
      font-size: 22px;
      padding: 7px 28px 7px 13px;
      margin: 0;
    }
    @include custom-all(361, 415) {
      font-size: 22px;
      padding: 7px 25px 7px 13px;
      margin: 0;
    }
    @include custom-max(320) {
      margin-left: 0px;
      font-size: 21px;
      padding: 5px 19px;
      padding-left: 10px;
    }

  }

  &:hover{
    background: darken(#e7e9d9,5);
  }
}


//bg-light-gray
.bg-light-gray{
  background: #e7e9d9;
  &:hover{
    background: darken(#e7e9d9,5);
  }
}

//bg-white
.bg-white {
  background: $white;
}