// connexion
.connexion-bg {
  @include full-width;
  background-image: url('#{$imageUrl}/background-pic.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100%;
  text-align: left;
  padding: 0 26px;
  padding-bottom: 100px;
  @include mobile-xs-359 {
    padding: 0px 15px 100px;
  }
  //arroe-left
  .arroe-left {
    padding-top: 85px;
    padding-left: 0px;
    @include mob-noscroll {
      padding-top: 44px;
      img {
        width: 18px;
      }
    }
  }
  //connexion-heading
  .connexion-heading {
    padding-top: 47px;
    @include mob-noscroll {
      padding-top: 14px;
    }
    h2 {
      font-size: 58px;
      color: $white;
      @include Calibri-bold;
      @include mobile-sm {
        font-size: 52px;
      }
      @include mobile-xs-359 {
        font-size: 48px;
      }
      @include mobile-xs-349 {
        font-size: 44px;
      }
      @include mobile-xs {
        font-size: 40px;
      }
      @include mob-noscroll {
        font-size: 32px;
        margin-bottom: 0;
      }
    }
    p {
      font-size: 36.8px;
      color: rgba(255, 255, 255, 0.68);
      @include Calibri-light;
      padding-top: 19px;
      line-height: 1;
      letter-spacing: -0.6px;
      @include mobile-sm {
        font-size: 32.8px;
      }
      @include mobile-xs-359 {
        font-size: 28.8px;
      }
      @include mobile-xs-349 {
        font-size: 24.8px;
      }
      @include mobile-xs {
        font-size: 20.8px;
      }
      @include mob-noscroll {
        font-size: 20px;
        margin-top: -2px;
      }
    }

  }
  //input-connexion
  .input-connexion {
    padding-top: 84px;
    @include mob-noscroll {
      padding-top: 21px;
    }
    input {
      background: transparent;
      border: none;
      box-shadow: none;
      border-bottom: 2px solid #c6a1da;
      border-radius: 0px;
      padding-left: 0;
      color: $white;
      font-size: 18px;
      height: 40px;
      @include mob-noscroll {
        border-bottom: 1px solid #c6a1da;
      }
    }

    button.next-button {
      width: 93px;
      height: 93px;
      background: #fbb823;
      background-image: url('#{$imageUrl}/next-pic.png');
      text-align: center;
      border-radius: 100%;
      float: right;
      background-repeat: no-repeat;
      background-position: 55%;
      margin-top: 55px;
      line-height: 93px;
      @include mobile-xs-359 {
        width: 70px;
        height: 70px;
        background-size: 13px;
      }
      @include mobile-xs-349 {
        width: 65px;
        height: 65px;
        background-size: 10px;
      }
      @include mob-noscroll {
        width: 53px;
        height: 53px;
        background-size: 10px;
        margin-top: 22px;
      }
    }
  }
  //bottom-logo
  .bottom-logo {
    position: absolute;
    bottom: 28px;
    img {
      width: 148px;
    }
  }
  //verification-page
  .verification {
    p {
      letter-spacing: -1px;
    }
  }
  //verification-page

  //mot-de-passe
  label {
    font-size: 22px;
    @include Calibri-light;
    color: rgba(255, 255, 255, 0.54);
    padding-top: 10px;
  }
  //mot-de-passe
}

//form-control
.form-control {
  font-size: 18px;
}

