//date-confirm
.date-confirm{
  @include full-width;

  //examens-details
  .examens-details{

    @include custom-max(320){
      padding: 30px 0px 40px;
    }
    ul{
      p{
        margin-bottom: 95px;
        @include custom-all(361, 415){
          margin-bottom: 50px;
        }
        @include custom-max(360){
          margin-bottom: 45px;
        }
        @include custom-max(320){
          margin-bottom: 45px;
        }
      }
      li{
        a{
          font-size: 35px;
          margin-bottom: 105px;
          position: relative;

          &:after{
            content: '';
            position: absolute;
            background-image: url(../images/arrow-right-pink.png);
            height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            top: 50%;
            margin-left: 22px;
            transform: translateY(-32%);

            @include custom-max(360){
              margin-left: 13px;
              background-size: 20px;
            }
            @include custom-all(361, 415){
              margin-left: 13px;
              background-size: 20px;
            }
          }

          @include custom-max(360){
            font-size: 22px;
            margin-bottom: 45px;
          }
          @include custom-all(361, 415){
            font-size: 32px;
            margin-bottom: 50px;
          }

          @include custom-max(320){
            margin-bottom: 56px;
          }
        }
      }
    }
  }
}