//examens-biologique
.examens-biologique {
  @include full-width;

  //fixed-sapce
  .fixed-sapce {
    margin-top: 283px;

    @include custom-max(360) {
      margin-top: 176px;
    }
    @include custom-max(320) {
      margin-top: 152px;
    }

    @include custom-all(361, 415) {
      margin-top: 180px;
    }
  }

  //profile-details
  .profile-details{
    padding-bottom: 0px;
    ul{
      li{
        &:last-child{
          a{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

//user-heading-text
.user-heading-text {
  padding-top: 42px;
  @include custom-max(360) {
    padding-top: 40px;
  }
  @include custom-all(361, 415) {
    padding-top: 20px;
  }
  @include custom-max(320) {
    padding-top: 38px;
  }

  //h3
  h3 {
    font-size: 43px;
    @include Calibri-bold;
    color: $white;
    text-align: center;
    margin: 0 0px 18px;
    line-height: 1.2;
    @include custom-max(360) {
      margin: 0 0px 10px;
      font-size: 32px;
    }
    @include custom-all(361, 415) {
      margin: 0 0px 13px;
      font-size: 32px;
    }
    @include custom-max(320) {
      font-size: 23px;
    }
    /*@include mb-noscroll-1010{
      font-size: 23px;
    }*/
  }
}

//white-wava-bg
.white-wava-bg {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -16px;
    height: 18px;
    width: 100%;
    background-image: url('#{$imageUrl}/white-merci.png');
    @include bg-cover(100% 100%);
    background-repeat: no-repeat;
    background-position: top left;
  }
}

//laboratories-exam
.laboratories-exam {
  @include full-width;
  padding: 10px 0px 30px;
  background-color: $white;

  @include custom-all(361, 415) {
    padding: 15px 0px 45px;
  }
  @include custom-max(330) {
    padding: 15px 0px 30px;
  }
  @include custom-max(320) {
    padding: 15px 0px 40px;
  }

}

//img-icon-left
.img-icon-left {
  @include full-width;
  padding-left: 30px;
  margin-top: 14px;
  @include custom-max(360) {
    padding-left: 15px;
    margin-top: 0;
  }
  @include custom-all(361, 415) {
    padding-left: 18px;
    margin-top: 0;
  }
  @include custom-max(320) {
    padding-left: 12px;
    margin-top: 0px;
  }
  /*@include mb-noscroll-1010 {
    padding-left: 10px;
    margin-top: -4px;
  }*/

  //img
  img {
    width: 27px;
    @include custom-max(360) {
      width: 20px;
    }
    @include custom-all(361, 415) {
      width: 20px;
    }
    @include custom-max(320) {
      width: 15px;
    }
    /*@include mb-noscroll-1010{
      width: 15px;
    }*/

  }
}

//profile-details
.profile-details {
  @include full-width;
  padding: 26px 0px;
  @include custom-max(320) {
    padding: 18px 0px;
  }
  @include custom-all(361, 415) {
    padding: 18px 0px 10px;
  }
  //p
  p {
    font-size: 32px;
    line-height: 1.25;
    @include Calibri-normal;
    color: $gray;
    margin-top: 14px;
    margin-bottom: 61px;
    line-height: 1.1;
    @include custom-max(360) {
      font-size: 19px;
      margin-bottom: 35px;
    }
    @include custom-all(361, 415) {
      font-size: 25px;
      margin-bottom: 30px;
    }
    @include custom-max(320) {
      font-size: 18px;
      margin-bottom: 26px;
    }

    // last-child
    &:last-child{
      margin-bottom: 0;
    }
  }

  //ul
  ul {
    text-align: center;

    //============li==============//

    li {
      &:last-child {
        .line {
          display: none;
        }
      }

      //h2
      h2 {
        font-size: 32px;
        line-height: 1.25;
        @include Calibri-bold;
        color: $black;
        letter-spacing: -0.1px;
        margin-top: 0;
        margin-bottom: 10px;
        @include custom-max(360) {
          font-size: 24px;
          letter-spacing: -0.3px;
          margin-bottom: 6px;
        }
        @include custom-all(361, 415) {
          font-size: 25px;
          letter-spacing: -0.1px;
        }
        @include custom-max(320) {
          font-size: 18px;
          letter-spacing: -0.1px;
        }
      }

      //p
      p {
        font-size: 28px;
        line-height: 1.2;
        @include Calibri-normal;
        color: $black;
        margin: 0px;
        @include custom-max(360) {
          font-size: 22px;
          letter-spacing: -0.7px;
        }
        @include custom-all(361, 415) {
          font-size: 20px;
          letter-spacing: -0.3px;
        }
        @include custom-max(320) {
          font-size: 15px;
        }
      }

      //a
      a {
        font-size: 28px;
        line-height: 1.2;
        @include Calibri-bold;
        color: $parple;
        margin-bottom: 0px;
        display: block;
        padding-top: 0px;
        @include custom-max(360) {
          font-size: 22px;
          margin-bottom: 0px;
        }
        @include custom-all(361, 415) {
          font-size: 21px;
          margin-bottom: 0px;
        }
        @include custom-max(320) {
          font-size: 18px;
          margin-bottom: 0;
          padding-top: 0;
        }
        /*@include mb-noscroll-1010 {
          font-size: 17px;
        }*/

      }

      //img
      img {
        display: block;
        margin: 0 auto 15px;

        @include custom-all(361, 415) {
          width: 60px;
          margin-bottom: 10px;
        }
        @include custom-max(360) {
          width: 50px;
        }
        @include custom-max(320) {
          width: 43px;
          margin: 0 auto 10px;
        }
      }

      &:last-child a {
        margin-bottom: 20px;
      }

      //line
      .line {
        width: 247px;
        height: 1px;
        background: $pink;
        display: block;
        margin: 27px auto;
        @include custom-max(360) {
          width: 185px;
          margin: 19.5px auto;
        }
        @include custom-max(320) {
          width: 138px;
          margin: 10px auto;
        }
      }
    }

  }
}