//examens-page
.examens-page {
  @include full-width;
}

// charte-bg
.charte-bg {
  @include full-width;
  background-image: url('#{$imageUrl}/user-jean-bg1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 100%;
  text-align: left;
  padding: 0 26px;
  padding-bottom: 100px;
  @include custom-all(361, 415) {
    padding: 0px 15px 100px;
  }
  @include custom-max(360) {
    padding: 0px 15px 100px;
  }
}

//examens-text-bottom
.examens-text-bottom {
  padding-top: 53px;

  @include custom-all(361, 415) {
    padding-top: 28px;
  }

  @include custom-max(360) {
    padding-top: 28px;
  }

  //p
  p {
    font-size: 32px;
    text-align: center;
    color: $gray;
    line-height: 1.1;
    @include Calibri-normal;

    @include custom-all(361, 415) {
      font-size: 24px;
    }

    @include custom-max(360) {
      font-size: 24px;
    }

    @include custom-max(320) {
      font-size: 22px;
    }
  }
}

//si-oui
.si-oui {
  @include full-width;
  background: #f7f7f7;
  height: 450px;
  margin-bottom: 119px;
  @include custom-all(361, 415) {
    height: 270px;
    margin-bottom: 15px;
  }
  @include custom-max(360){
    height: 260px;
    margin-bottom: 15px;
  }
  @include custom-max(320){
    height: 250px;
    margin-bottom: 15px;
  }

  //traitement
  .traitement {
    padding: 37px 35px 0;

    @include custom-max(360) {
      padding: 20px 15px 0;
    }
    @include custom-all(361, 415) {
      padding: 20px 15px 0;
    }
  }

  //p
  p {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.68);
    font-family: arial;
    font-style: italic;
    line-height: 1.4;

    @include custom-max(360) {
      font-size: 14px;
      font-style: normal;
      letter-spacing: -0.2px;
    }
    @include custom-all(361, 415) {
      font-size: 14px;
      font-style: normal;
      letter-spacing: -0.2px;
    }
  }
}


