// seconnect-header
.seconnet-content {
  @include full-width;
  background-image: url('#{$imageUrl}/dark-purple-bg.png');
  @include bg-cover(100% 100%);
  background-repeat: no-repeat;
  background-position: top left;
  text-align: left;
  color: $white;

  // owl-carousel
  .owl-carousel .owl-stage-outer, .space-home{
    padding: 20px 37px;
    @include mob-noscroll-639 {
      padding: 10px 27px;
    }
  }

  // carousel-indicators
  .carousel-indicators {
    bottom: -9px;
  }
  // slider-brand
  .slider-brand {
    width: 216px;
    @include custom-max(360) {
      width: 219px;
    }
    @include mob-noscroll-639 {
      width: 170px;
    }
  }

  // .btn-yellow
  .btn-yellow {
    padding: 15px 6px;
    font-size: 23px;
    font-weight: 700;
    border-radius: 6px;
    line-height: normal;
    width: 245px;
    height: auto;
    @include mob-noscroll-639 {
      width: 194px;
      font-size: 18px;
    }
  }

  // h4
  h4 {
    @include Calibri-light;
    line-height: 0.9;
    margin-top: 16px;
    font-size: 40px;
    padding-left: 6px;
    margin-bottom: 23px;
    @include mob-noscroll-639 {
      margin-top: 16px;
      font-size: 26px;
      padding-left: 6px;
      margin-bottom: 18px;
    }
  }
}

// seconnet-img
.seconnet-img {
  @include full-width;
  margin-bottom: 0px;
  &.main-top {
    margin-bottom: -17px;
  }
}

// seconnet-wrapper

.seconnet-wrapper {
  background: #160b97;
}

// merci-pink
.merci-pink {
  background: #c070c9;
}

// btn-yellow
.btn-yellow {
  background: #fbb823;
  color: #801807;
  text-transform: uppercase;
  width: 327px;
  font-size: 30px;
  font-weight: 400;
  padding: 23px 6px;
  border-radius: 10.19px;
  min-width: auto;
  letter-spacing: 2.4px;
  @include Calibri-bold;

  @include mobile-sm {
    padding: 15px 6px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.6px;
    width: auto;
    line-height: 1;
  }

  &:hover {
    color: #801807;
    background: darken(#fbb823, 10);
  }
  &:focus, &:active {
    color: #801807;
  }
}

// owl-carousel
.owl-carousel {
  @include full-width;
}

// carousel
.carousel, .owl-carousel {
  margin-bottom: 0;
  padding-bottom: 14px;
  margin-bottom: 10px;
  .carousel-indicators {
    font-size: 0;
  }
  .owl-dots {
    font-size: 0;
    position: absolute;
    bottom: 0px;
    z-index: 15;
    width: 100%;
    text-align: center;
    list-style: none;
  }

  .owl-dots .owl-dot,
  .carousel-indicators li {
    display: inline-block;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 20px;
    width: 11px;
    height: 11px;
    background-color: #a077ca;
    margin: 0 6px;
    border: none;
  }
  .owl-dots .owl-dot.active,
  .carousel-indicators .active {
    background-color: #fff;
  }
}

// se-connrctor
.se-connrctor img {
  width: 247px;
  @include transition(all 0.3s);
  &:hover {
    opacity: 0.8;
  }
  @include mob-noscroll-639 {
    width: 180px;
  }
}

// vertical-block
.vertical-block {
  width: 100%;
  height: 100%;
  float: left;
  display: table;
  .cell {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}

