// tchat-title
.tchat-title {
  h4 {
    font-size: 43px;
    @include Calibri-bold;
    color: $white;
    line-height: 1.2;
    margin-top: 15px;
    margin-bottom: 24px;
    @include mobile-sm {
      font-size: 36px;
    }
    @include mobile-xs-359 {
      font-size: 34px;
    }
    @include mobile-xs-349 {
      font-size: 28px;
    }
  }
}

// chat-box
.chat-box {
  @include full-width;
  text-align: center;
  padding: 29px 20px 0;
  background: $white;
  z-index: 4;
  @include custom-max(360) {
    padding: 23px 12px 0;
  }
  @include custom-max(320) {
    padding: 20px 11px 0;
  }
  // before
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -20px;
    height: 20px;
    width: 100%;
    background-image: url('#{$imageUrl}/white-merci.png');
    @include bg-cover(100% 100%);
    background-repeat: no-repeat;
    background-position: top left;
    @include custom-min(480) {
      top: -22px;
      height: 23px;
    }
    @include custom-max(360) {
      top: -13px;
      height: 15px;
    }
  }

  // received-with-msg
  .received-with-msg {
    font-size: 26px;
    line-height: 1.3;
    background: #ebebeb;
    padding: 36px 32px;
    color: #000000;
    text-align: left;
    @include border-radius(25px);
    @include custom-max(360) {
      padding: 20px 20px;
      font-size: 22px;
      @include border-radius(17px);
    }
    @include custom-max(320) {
      padding: 20px 20px;
      font-size: 14px;
      @include border-radius(15px);
    }
    p {
      margin: 0;
    }
  }

  // chat-row
  .chat-row {
    @include full-width;
    padding-left: 43px;
    margin-bottom: 32px;
    @include custom-max(360) {
      padding-left: 24px;
      margin-bottom: 19px;
    }
    @include custom-max(320) {
      padding-left: 22px;
      margin-bottom: 20px;
    }
  }

  // incoming-msg-img
  .incoming-msg-img {
    position: absolute;
    left: 0;
    bottom: -13px;
    @include custom-max(360) {
      bottom: -7px;
    }
    @include custom-max(320) {
      bottom: -8px;
    }
    img {
      width: 61px;
      height: 61px;
      @include border-radius(50%);
      @include custom-max(360) {
        width: 35px;
        height: 35px;
      }
      @include custom-max(320) {
        width: 32px;
        height: 32px;
      }
    }
  }
}

// chat-wraper
.chat-wraper {
  padding-bottom: 120px;
  @include custom-max(360) {
    padding-bottom: 60px;
  }
  @include custom-max(320) {
    padding-bottom: 56px;
  }
}

// chatbox-type
.chatbox-type {
  background: #e7e9d9;
  padding: 18px 26px;
  @include custom-max(360) {
    padding: 11px 15px;
  }
  // form-control - first-child
  .input-group .form-control:first-child {
    @include border-radius(10px);
    @include custom-max(360) {
      @include border-radius(5px);
    }
  }

  // form-control
  .form-control {
    height: 56px;
    background: $white;
    color: $black;
    font-size: 25px;
    border: none;
    padding: 6px 30px;
    letter-spacing: -0.5px;
    @include border-radius(10px);
    @include custom-max(360) {
      height: 32px;
      padding: 6px 17px;
      font-size: 15.2px;
      @include border-radius(5px);
    }
    &:focus, & {
      @include box-shadow(none);
      outline: none;
    }
    &::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.49);
    }
    &::-moz-placeholder {
      color: rgba(0, 0, 0, 0.49);
    }
    &:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.49);
    }
    &:-moz-placeholder {
      color: rgba(0, 0, 0, 0.49);
    }
  }

  // btn
  .btn {
    background: transparent;
    font-size: 29px;
    color: $black;
    padding: 5px 17px;
    @include custom-max(360) {
      padding: 3px 12px;
      font-size: 17px;
    }
    &:focus, & {
      @include box-shadow(none);
      outline: none;
    }
  }
}

.btn-flex-bottom {
  display: inline-block;
}
