// merci-votre
.merci-votre {
  @include full-width;
  text-align: center;
  padding: 20px 42px;
  background: $white;
  z-index: 4;
  @include mobile-sm {
    padding: 24px 30px;
  }
  @include mobile-xs-359 {
    padding: 22px 15px;
  }
  @include mob-noscroll{
    padding: 15px 15px
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -18px;
    height: 26px;
    width: 100%;
    background-image: url('#{$imageUrl}/top-thanku-hd.png');
    @include bg-cover(100%);
    background-repeat: no-repeat;
    background-position: top left;

    @include custom-min(490){
      @include bg-cover(100% 100%);
    }
    @include custom-max(360){
      top: -15px;
    }
  }
  //after
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 26px;
    width: 100%;
    background-image: url('#{$imageUrl}/bottom-thanku-hd.png');
    @include bg-cover(100%);
    background-repeat: no-repeat;
    background-position: bottom left;

    @include custom-min(490){
      @include bg-cover(100% 100%);
    }
    @include custom-max(360){
      bottom: -17px;
    }
    @include custom-max(320){
      bottom: -15px;
    }
  }

  // h4
  h4, p {
    @include Calibri-light;
  }
  h4 {
    font-size: 45.55px;
    color: $darkpurple;
    padding-bottom: 13px;
    margin: 0;

    @include mobile-sm {
      font-size: 36.55px;
    }
    @include mobile-xs-359 {
      font-size: 32.55px;
    }
    @include mobile-xs-349 {
      font-size: 28.55px;
    }
    @include mob-noscroll{
      margin-top: 0px;
      font-size: 23.55px;
      line-height: 1.14;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 31.2px;
    color: $black;
    margin-bottom: 0px;
    margin-top: 0px;

    @include mobile-sm {
      font-size: 26.2px;
    }
    @include mobile-xs-359 {
      font-size: 24.2px;
    }
    @include mobile-xs-349 {
      font-size: 22.2px;
    }
    @include mobile-xs {
      font-size: 20.2px;
    }
    @include mob-noscroll{
      margin-bottom: 0px;
      margin-top: 10px;
      font-size: 17.2px;
    }
  }
}

// votre-prochain
.votre-prochain {
  @include full-width;
  text-align: center;
  padding: 73px 20px 15px;
  background-image: url('#{$imageUrl}/dark-purple-normal.png');
  @include bg-cover(100% 100%);
  background-repeat: no-repeat;
  background-position: bottom left;
  color: $white;
  @include mobile-sm {
    padding: 50px 20px 0;
  }
  @include mobile-xs-359 {
    padding: 60px 15px 15px;
  }
  h4 {
    margin-bottom: 28px;
    font-size: 34px;
    line-height: 1.05;
    @include Calibri-bold;
    @include mobile-sm {
      font-size: 30px;
    }
    @include mobile-xs-359 {
      font-size: 28px;
    }
    @include mobile-xs-349 {
      font-size: 26px;
    }
    @include mob-noscroll{
      font-size: 17px;
      margin-top: 0px;
      margin-bottom: 17px;
    }
  }
  p {
    font-size: 28px;
    line-height: 1.2;
    margin-top: 31px;
    margin-bottom: 27px;
    @include mobile-sm {
      font-size: 26px;
    }
    @include mobile-xs-359 {
      font-size: 24px;
      /*br.rendez {
        display: none;
      }*/
    }
    @include mobile-xs-349 {
      font-size: 22px;
    }
    @include mob-noscroll{
      margin-top: 0px;
      margin-bottom: 0;
      font-size: 19px;
      line-height: 1;
    }
    a {
      color: $white;
    }
  }
  h5 {
    font-size: 32px;
    margin-bottom: 65px;
    @include Calibri-bold;
    @include mobile-sm {
      font-size: 28px;
    }
    @include mobile-xs-359 {
      font-size: 26px;
    }
    @include mobile-xs-349 {
      font-size: 24px;
    }
    @include mob-noscroll{
      margin-bottom: 20px;
      font-size: 17px;
      margin-top: 18px;
    }
  }
  img {
    width: 234px;
    @include mob-noscroll{
      width: 140px;

    }
  }
}