//mes-resultats-details-page
.mes-resultats-details-page{
  @include full-width;
}

//mes-resultats-details
.mes-resultats-details{
  @include full-width;
  padding-top: 22px;

  @include mobile-xs-359 {
    padding-top: 15px;
  }

  @include mobile-xs {
    padding: 10px;
  }
}

//arrow-and-heading
.arrow-and-heading{
  @include full-width;

  h3{
    text-align: center;
    margin: 63px 0px 13px;
    font-size: 27px;
    line-height: 1.25;
    @include Calibri-bold;

    @include mobile-xs-359 {
      margin: 43px 0px 10px;
      font-size: 24px;
    }

    @include mobile-xs {
      margin: 23px 0px 10px;
      font-size: 20px;
    }
  }
}

//img-pdf-sec
.img-pdf-sec{
  @include full-width;
  margin-bottom: 27px;
  img{
    display: block;
    margin: 0 auto;
  }
}

//besoin-adviser
.besoin-adviser{
  @include full-width;
  padding: 30px 47px 30px;


  @include custom-max(360) {
    padding: 20px 27px 20px;
    margin-bottom: 30px;
  }

  @include custom-max(320) {
    padding: 10px 17px 10px;
  }
  a{
    font-size: 32px;
    line-height: 1.3;
    color: $black;
    @include Calibri-bold;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: 100%;
    border: 1px solid $black;
    @include border-radius(35px);
    padding: 13px 0px;


    @include custom-max(360) {
      width: 100%;
      font-size: 24px;
    }

    @include custom-max(320) {
      width: 100%;
      font-size: 20px;
    }
  }
}