//mes-resultats-page
.mes-resultats-page {
  @include full-width;
}

//mes-resultats
.mes-resultats {
  @include full-width;

}

//ptop41
.ptop41-b {
  padding-top: 41px;

  @include custom-max(360) {
    padding-top: 11px;
  }
}

//resultats-det
.resultats-det {
  @include full-width;
  padding-top: 50px;

  @include custom-all(361, 415) {
    padding-top: 34px;
  }
  @include custom-max(360) {
    padding-top: 34px;
  }
  @include custom-max(320) {
    padding-top: 30px;
  }

  ul {
    display: block;
    margin: 0 0;
    padding: 0px 13px;

    @include custom-max(360) {
      padding: 0;
    }

    li {
      list-style: none;

      a {
        font-size: 30px;
        line-height: 37px;
        color: $black;
        @include Calibri-bold;
        padding-right: 90px;
        display: block;
        position: relative;


        @include custom-all(361, 415) {
          font-size: 22px;
          padding-right: 50px;
          line-height: 1.2;
        }
        @include custom-max(360) {
          font-size: 21px;
          padding-right: 50px;
          line-height: 1.2;
        }
        @include custom-max(320) {
          font-size: 16.5px;
          padding-right: 30px;
        }

        // after
        &:after {
          content: '';
          background: url('#{$imageUrl}/chevron-right-pink.png');
          width: 19px;
          height: 35px;
          position: absolute;
          right: 40px;
          top: 50%;
          @include transform(translateY(-50%));
          @include custom-all(361, 415) {
            right: 15px;
            background-size: 10px;
            background-repeat: no-repeat;
            height: 20px;
          }
          @include custom-max(360) {
            right: 15px;
            background-size: 10px;
            background-repeat: no-repeat;
            height: 20px;
          }
          @include custom-max(320) {
            right: 0px;
            background-size: 10px;
            background-repeat: no-repeat;
            height: 20px;
          }
        }
      }

      hr {
        margin: 32px 0px;
        border: 0;
        border-top: 1px solid #beb8b8;

        @include custom-all(361, 415) {
          margin: 20px 0px;
        }
        @include custom-max(360) {
          margin: 20px 0px;
        }
        @include custom-max(320) {
          margin: 20px 0px;
        }
      }

      &:last-child {
        margin-bottom: 32px;

        hr {
          display: none;
        }
      }
    }

    li.disabled-block {
      a {
        color: rgba(0, 0, 0, 0.70);
        @include Calibri-light;

        &:after {
          content: '';
          background: url(../images/chevron-right-gray.png);
          opacity: .5;

          @include custom-all(361, 415) {
            background-size: 10px;
            background-repeat: no-repeat;
            height: 20px;
          }
          @include custom-max(360) {
            background-size: 10px;
            background-repeat: no-repeat;
            height: 20px;
          }
        }
      }
    }
  }
}
.mes-resultats.white-wava-bg.bg-color {
  background: #fff;
}