// responsive variables
$mobile-lg: 767px;
$mobile-md: 639px;
$mobile-md-500: 500px;
$mobile-sm: 479px;
$mobile-sm-359: 359px;
$mobile-sm-349: 349px;
$mobile-xs: 319px;

// responsive mixins
/*---- minmax-480 ----*/
@mixin minmax-767 {
  @media (max-width: 991px) and (min-width: 767px) {
    @content;
  }
}

/*---- i-pad ----*/
@mixin i-pad {
  @media (max-width: #{$i-pad-width}) {
    @content;
  }
}

/*---- minmax-480 ----*/
@mixin minmax-480 {
  @media (max-width: 767px) and (min-width: 480px) {
    @content;
  }
}

/*---- mobile-lg ----*/
@mixin mobile-lg {
  @media (max-width: #{$mobile-lg}) {
    @content;
  }
}

/*---- mobile-md ----*/
@mixin mobile-md {
  @media (max-width: #{$mobile-md}) {
    @content;
  }
}

/*---- mobile-500 ----*/
@mixin mobile-500 {
  @media (max-width: #{$mobile-md-500}) {
    @content;
  }
}

/*---- mobile-sm ----*/
@mixin mobile-sm {
  @media (max-width: #{$mobile-sm}) {
    @content;
  }
}

/*---- mobile-xs-349 ----*/
@mixin mobile-xs-349 {
  @media (max-width: #{$mobile-sm-349}) {
    @content;
  }
}

/*---- mobile-xs-349 ----*/
@mixin mobile-xs-359 {
  @media (max-width: #{$mobile-sm-359}) {
    @content;
  }
}

/*---- mobile-xs ----*/
@mixin mobile-xs {
  @media (max-width: #{$mobile-xs}) {
    @content;
  }
}

/*---- custom-all-media ----*/
@mixin custom-max-height($size) {
  @media (max-height: $size + px) {
    @content;
  }
}

@mixin custom-max($size) {
  @media (max-width: $size + px) {
    @content;
  }
}

@mixin custom-min($size) {
  @media (min-width: $size + px) {
    @content;
  }
}

@mixin custom-all($min, $max) {
  @media (min-width: $min + px) and (max-width: $max + px) {
    @content;
  }
}

/*---- mob-maxheight550 ----*/
@mixin mob-noscroll {
  @media (max-height: 1030px) {
    @content;
  }
}

/*---- mob-maxheight696 ----*/
@mixin mob-noscroll-696 {
  @media (max-height: 696px) {
    @content;
  }
}

/*---- mob-maxheight696 ----*/
@mixin mob-noscroll-639 {
  @media (max-height: 639px) {
    @content;
  }
}

/*---- mob-maxheight696 ----*/
@mixin mob-noscroll-567 {
  @media (max-height: 567px) {
    @content;
  }
}

/*---- mob-maxheight1010 ----*/
@mixin mb-noscroll-1010 {
  @media (max-height: 1010px) {
    @content;
  }
}

/*---- mob-noscroll-460 ----*/
@mixin mob-noscroll-460 {
  @media (max-height: 1030px) and (max-width: 460px) {
    @content;
  }
}

// box-shadow
@mixin box-shadow($shadowval) {
  box-shadow: $shadowval;
  -webkit-box-shadow: $shadowval;
  -ms-box-shadow: $shadowval;
  -moz-box-shadow: $shadowval;
  -o-box-shadow: $shadowval;
}

// box-shadow
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
}

// gradient-linear
@mixin gradient-linear($clr, $nxtclr) {
  background: $clr; /* Old browsers */
  background: -moz-linear-gradient(top, #{$clr} 0%, #{$nxtclr} 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #{$clr} 0%, #{$nxtclr} 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #{$clr} 0%, #{$nxtclr} 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$clr}', endColorstr='#{$nxtclr}', GradientType=0); /* IE6-9 */
}

// text-shadow
@mixin text-shadow($txtshadow) {
  text-shadow: $txtshadow;
  -webkit-text-shadow: $txtshadow;
  -ms-text-shadow: $txtshadow;
  -moz-text-shadow: $txtshadow;
  -o-text-shadow: $txtshadow;
}

// background size
@mixin bg-cover($cover) {
  -moz-background-size: $cover;
  -o-background-size: $cover;
  -ms-background-size: $cover;
  -webkit-background-size: $cover;
  background-size: $cover;
}

// transition
@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -ms-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
}

// Calibri-light
@mixin Calibri-light {
  font-family: 'Calibri';
  font-weight: 300;
  font-style: normal;
}

// Calibri-light
@mixin Calibri-normal {
  font-family: 'Calibri';
  font-weight: 400;
  font-style: normal;
}

//calibri-bold
@mixin Calibri-bold {
  font-family: 'Calibri';
  font-weight: bold;
  font-style: normal;
}

// generic transform property
// transform-origin
@mixin transform-origin($origin) {
  transform-origin: $origin;
  -webkit-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
}

// transform
@mixin transform($transforms) {
  transform: $transforms;
  -webkit-transform: $transforms;
  -ms-transform: $transforms;
  -moz-transform: $transforms;
  -o-transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// @include rotate(45); <- how to use this mixin

// skew
@mixin skewy($degval) {
  @include transform(skewy(#{$degval}deg));
}

// @include skewy(5); <- how to use this mixin

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// @include scale(2); <- how to use this mixin

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// @include translate(50px,0px); <- how to use this mixin

// full-width
@mixin full-width {
  position: relative;
  width: 100%;
  float: left;
}

// emagliste-ratio
@mixin emagliste-ratio {
  padding-top: 0;
  min-height: auto;
  height: 380px;
}

// vertically center modal
.modal {
  text-align: center;
  padding: 0 !important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  /*------ modal-dialog ------*/
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 30px auto;
    width: 90%;
    @include mobile-lg {
      width: 95%;
    }
    @include mobile-sm {
      width: 100%;
      padding: 0px 15px;
    }
  }
}

// ----- close modal -----//