// font size
$bodysize: 16px !default;

// font family
$robotocondensed: 'Roboto Condensed';

// Black color
$black: #000000;
// gray Color
$gray: #76776f;
// light gray Color
$l-gray: #52534c;
// white Color
$white: #fff;
//yellow
$yellow: #fbb823;
//pink
$pink: #f28dd8;
//dark pink
$darkpink: #b76dc8;
//blue
$blue: #0e0695;
//maroon
$maroon: #801807;
//red
$red: #e53012;

//Purple
$parple: #653aaf;
//Purple
$darkpurple: #4528a6;
//Image path
$imageUrl: '../images';

//$ontUrl path
$fontUrl: '../vendor/fonts';


