//visit-time-date-page
.visit-time-date-page {
  @include full-width;

  .examens-details {
    p {
      margin-bottom: 90px;

      @include mobile-sm{
        margin-bottom: 50px;
      }
      @include custom-all(361, 415) {
        margin-bottom: 50px;
      }
    }
  }

}

//visit-time-date
.visit-time-date {
  @include full-width;
}

//examens-details
.examens-details {


  img {
    margin: 0px auto 18px;
    display: block;
    @include mobile-sm{
      width: 32px;
      margin: 0px auto 12px;
    }
    @include custom-all(361, 415) {
      width: 40px;
      margin: 0px auto 12px;

    }

  }

  h3 {
    margin-bottom: 75px;
    font-size: 35px;
    margin-top: 0;
    @include Calibri-bold;

    @include mobile-sm{
      font-size: 22px;
      margin-bottom: 47px;
    }
    @include custom-max(320) {
      margin-bottom: 47px;
    }
    @include custom-all(361, 415) {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  ul {
    li {
      &:last-child h3 {
        @include mobile-sm{
          margin-bottom: 20px;
        }

        @include custom-all(361, 415) {
          margin-bottom: 20px;
        }
      }
    }
  }

}

//all-section-content
.all-section-content {
  padding: 0px 53px;

  @include custom-all(361,415){
    padding: 0px 20px;
  }
  @include mobile-sm{
    padding: 0px 20px;
  }
  @include custom-max(320) {
    padding: 0px 0px;
  }
}

//annuler-submit-section
.annuler-submit-section {
  margin-bottom:30px;
  text-align: right;
  @include mobile-sm{
  margin-bottom:15px;
}
  @include mobile-xs {
    text-align: center;
  }
}

//btn-submit
.oui-submit {
  font-size: 32px;
  @include Calibri-bold;
  color: $parple;
  background: transparent;
  line-height: 1.3;
  margin-right: -13px;
  @include mobile-sm{
  margin-right:5px;
  font-size: 25px;
    @include custom-max(320){
      margin-right: -10px;
      font-size: 21px;
    }
}

}

//popup-button
.non-close {
  @extend .oui-submit;
  padding-right:34px;
  @include mobile-sm{
  padding-right: 4px;

}
  @include mobile-xs {
    padding-right: 20px;
  }
  @include custom-max(320){
    padding-right: 21px;
  }
}

//module-p
.lesexams-p {
  @include Calibri-normal;
  font-size: 32px;
  line-height: 1.1;
  color: $gray;
  text-align: center;
  letter-spacing: -0.2px;
  margin-bottom: 43px;
@include custom-max(360){
  font-size: 25px;
}
  @include custom-max(320){
font-size: 20px;
  }
}

//modal-img
.lesexams-img {
  margin-top: 46px;
  margin-bottom: 54px;

}

//les-exams
.les-exams {
  padding: 0px 35px;

}

//modal-label
.control-radio {
  @include Calibri-normal;
  font-size: 35px;
  line-height:normal;
  color: $black;

  @include custom-max(395) {
    font-size: 28px;
  }
  @include mobile-xs-359 {
    font-size: 25px;
  }
  @include mobile-xs-349 {
    font-size: 20px;
  }

}

//modal-group-padding
.modal-group-padding {
  padding: 0px 53px;
}

//ajouter-medecin
.ajouter-medecin {
  margin-bottom:44px;

  @include mobile-sm{
    margin-bottom: 30px;
  }
  @include custom-max(360){
    margin-bottom: 33px;
  }
  li {
    display: inline-block;

    a {
      font-size: 29.93px;
      @include Calibri-normal;
      color: $parple;

      @include custom-max(395) {
        font-size: 24px;
      }
      @include mobile-xs-359 {
        font-size: 20px;
      }
      img{
        position: relative;
        left: -5px;
        top: -7px;
        @include custom-max(360){
          top: -4px;
        }
        @include mobile-sm{
          left: 11px;
          top: -6px;
          width: 35px;
        }
        @include custom-max(320){
          top: -2px;
        }
    }
    }

    &:last-child {
      a {
        padding-left:8px;
        @include mobile-sm{
          padding-left: 18px;
          font-size: 19px;
        }
      }
    }
  }
}

//radio-button-control
.control-group {
  padding: 23px 0px 30px;
  @include mobile-sm{
  padding: 16px 0px 18px;
}
  @include custom-max(360){
    padding: 16px 0px 10px;
  }
  @include mobile-xs {
    padding: 20px 0px 25px;
  }
}

//control
.control {
  display: block;
  position: relative;
  padding-left: 60px;
  margin-bottom: 10px;
  padding-top: 3px;
  cursor: pointer;

  @include custom-max(395) {
    padding-left: 40px;
  }
@include mobile-sm{
  margin-bottom:10px;
  padding-top: 0px;
  padding-left: 57px;
  font-size: 25px;
}
  /*@include mobile-xs-359 {
    padding-left: 35px;
  }*/
/*  @include mobile-xs-349 {
    padding-left: 30px;
  }*/
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 12px;
  left: 0;
  height: 26px;
  width: 26px;
  background: transparent;
  border: 3px solid $black;

  @include custom-max(395) {
    top: 18px;
    height: 22px;
    width: 22px;
  }
  @include mobile-sm{
  top:5px;
  height: 19px;
  width: 19px;
  left: 14px;
}
  @include mobile-xs-349 {
    top:7px;
    height: 18px;
    width: 18px;
  }
}

.control-radio .control_indicator {
  @include border-radius(50%);
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control input:checked ~ .control_indicator {
  background: $parple;
  border: 1px solid;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #0e6647d;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-radio .control_indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  @include border-radius(50%);
  background: $parple;
}

.control-radio input:disabled ~ .control_indicator:after {
  background: $gray;
}
.modal-content{
  box-shadow: none;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.61);
}
@include mobile-sm{
  .modal .modal-dialog {
    padding: 0px 8px;
  }
}
.date-calander {
  font-size: 30px;
  font-family: 'Calibri';
}
