// bootstrap-css
@import "bootstrap-css";
// variable
@import "variable";
// Mixins
@import "mixins";
@import "connexion";

//font
@font-face {
  src: url('#{$fontUrl}/Calibri.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-family: 'Calibri';
}

@font-face {
  font-family: 'Calibri';
  src: url('#{$fontUrl}/Calibri-Bold.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('#{$fontUrl}/Calibri-Light.woff2') format('woff2'),
  url('#{$fontUrl}/Calibri-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}



//font
/*img*/
img {
  max-width: 100%;
  height: auto;
}

/*appearance none*/
input, select, textarea, button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
}

// default
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// button
a, .btn, button {
  @include transition(all 0.3s);
}

/*a link*/
a, a:focus, a:hover {
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*select*/
select::-ms-expand {
  display: none;
}

/*body*/
body {
  background: $white;
  color: #000;
  font-size: 14px;
  font-family: 'Calibri';
  font-weight: normal;
  font-style: normal;
  font-kerning: none;
}

/*body, html*/
body, html {
  height: 100%;
  margin: 0;
}

// body-wrapper
.body-wrapper {
  @include full-width;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

// img-full
.img-full,
.full-w {
  width: 100%;
  float: left;
}

// import scss files
// header
@import "header";
// home
@import "home";
// home
@import "merci-thank-you";
// footer
@import "footer";
//_bonjour-jean
@import "bonjour-jean";
//examens-biologique
@import "examens-biologique";
//visit-time-date
@import "visit-time-date";
//mes-resultats
@import "mes-resultats";
//mes-resultats-details
@import "mes-resultats-details";
//biological-examinations
@import "biological-examinations";
//biological-confirm
@import "biological-confirm";
//notification
@import "notification";
//date-confirm
@import "date-confirm";
// charte
@import "charte";
//examens
@import "examens";
//menu-pages
@import "menu-pages";


